.blocConnexion {
  display: flex;
  height: 100%;
}

form.formConnexion h2 {
  text-align: center;
  color: $font-color;
}

label {
  color: $font-color;
}

form.formConnexion  {
  background-color: $rose;
  border-radius: 40px;
  text-align: center;
  padding: 20px;
  width: $formDim;
  height: $formDim;
  @include shadowBox($gray-lighter);
  display: flex;
  margin: auto;
}

div.login {
  margin: auto;
  overflow: auto;
}
