.blocConnexion {
  display: flex;
}

form.formConnexion {
  background-color: $rose;
  border-radius: 40px;
  width: 90%;
  text-align: center;
  padding: 20px;
  margin: auto;
  @include shadowBox($gray-lighter);
  display: flex;

}

form.formConnexion h2 {
  text-align: center;
  color: $font-color;
}

label {
  color: $font-color;
}


.groupButtonConnexion {
  width: 50px;
}

$formDim : 320px;

form.formConnexion  {
  width: $formDim;
  height: $formDim;
  @include calc(margin-left, "(100% - " + $formDim + ") / 2");
  @include calc(margin-right, "(100% - " + $formDim + ") / 2");
  position: absolute;
  top:40px;
  left:0;
  right: 0;
  margin: auto;
}

div.login {
  margin: auto;
}
