.contact {
  border: 1px solid;
  border-color: $rose !important;
  border-radius: 40px;
  margin-top: 10px;
  @include calc(width, "98% - ( " + $button_size + " * 2 ) " + " - ( " + $button_margin + " * 2 ) ");
  height : $button_size;
  opacity: 0.65;
  padding-left: $contact_padding;
  padding-right: $contact_padding;
  min-width: 120px;
}

.button-icon {
  border: 1px solid;
  border-color: $rose !important;
  border-radius: $button_size;
  height : $button_size;
  width: $button_size;
  margin-top: 10px;
  opacity: 0.65;
  margin-left: $button_margin;
}

.messagerie {
  border-color: $rose !important;
  border-radius: $button_size;
  height : $button_size;
  margin-top: 10px;
  width: 100%;
}

.vcenter {
  display: flex;
  align-items: center;
}

.contact-notification {
  color: $rose !important;
}

.contact-icon {
  padding-right: 15px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
