@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./navbar.scss";
@import "./connexion.scss";
@import "./inscription.scss";
@import "./contacts.scss";
@import "./conversationAudio.scss";
@import "./conversation.scss";
@import "./parametre.scss";


html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#import {
  height: 100%;
  width: 100%;
}

.page {
  @include calc("height", "100% - " + $navbar_height + " - " + $space);
  padding-top: $padding_top;
}

.container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.hidden {
  display: none;
}

.footer {
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: $rose;
}

button {
  cursor: pointer;
}
