form.formInscription {
  background-color: $rose;
  border-radius: 40px;
  width: 90%;
  text-align: center;
  padding: 20px;
  margin: auto;
  @include shadowBox($gray-lighter);
  display: flex;
  overflow: auto;
}

form.formInscription h2 {
  text-align: center;
  color: $font-color;
}

div.inscription {
  width: 290px;
}



.input-group-addon {
  width: 40px;
}

label {
  color: $font-color;
}

$formDim : 320px;

form.formInscription  {
  width: $formDim;
  height: 500px;
  //overflow-y: auto;
  text-align: center;
  @include calc(margin-left, "(100% - " + $formDim + ") / 2");
  @include calc(margin-right, "(100% - " + $formDim + ") / 2");

  margin: auto;
}
