form.formInscription h2 {
  text-align: center;
  color: $font-color;
}

label {
  color: $font-color;
}

div.inscription {
  margin: auto;
  overflow: auto;
}

.input-group-addon {
  width: $input-group-addon_width;
}

form.formInscription  {
  background-color: $rose;
  border-radius: 40px;
  text-align: center;
  padding: 20px;
  width: $formDim;
  @include shadowBox($gray-lighter);
  display: flex;
  margin: auto;
}

.form-date {
  font-size: 1rem;
  color:#464a4c;
  border-radius: .25rem;
  background-image: none;
  background-clip: padding-box;
  line-height: 1.25;
  height: 38px;
  @include calc(width, "100% - " + $input-group-addon_width);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border: 1px solid rgba(0, 0, 0, .15);
  padding-left: 12px;
  padding-right: 12px;
}
