.navbar {
  background-color: $rose;
  height: $navbar_height;
  width: 100%;
}

.navbar > a > img {
  width: $button_size_little;
  height: $button_size_little;
  border-radius: 118px;
}

.navbar > a > button {
  border-radius: $button_size_little;
  height: $button_size_little;
  width: $button_size_little;
}

.button-left {
  margin-right: 10px;
}

.navbar-brand {
  font-size: 35px;
  margin-right: 0px !important;
  font-weight: bold;
  color: white !important;
}
