.navbar {
  background-color: $rose;
  height: $navbar_height;
  width: 100%;
}

.navbar > a > img {
  width: $button_size;
  height: $button_size;
  border-radius: 118px;
}

.navbar > a > button {
  border-radius: $button_size;
  height: $button_size;
  width: $button_size;
}

.navbar-brand {
  font-size: 40px;
  margin-right: 0px !important;
  font-weight: bold;
  color: white !important;
}
