.navbar {
  background-color: $rose;
  height: $navbar_height;
}

.navbar > a > img {
  width: 50px;
  height: 50px;
  border-radius: 118px;
}

.navbar > a > button {
  border-radius: 118px;
  height: 60px;
}

.navbar-brand {
  font-size: 30px;
}
