/********************************** PARAMETRE *****************************************/

.full-width{
    float:left;
    width:100%;
    margin-top:30px;
}

.imgCircle{
  border-radius: 50%;
}


.form-control{
  padding: 10px 50px;
}

.form-input{
  height:50px;
  border-radius: 0px;
  margin-top: 20px;
}

.Profile-input-file{

    width:180px;
    left:33%;
    position: absolute;
    top: 0px;
    z-index: 999;
    opacity: 0 !important;
}

.bg-form{
    float:left;
    width:100%;
    position:relative;
    margin-top: 0px;
    margin-bottom: 18px;
}

.custom-form{
  float: left;
  width:100%;
  border-radius: 20px;
  box-shadow: 0 0 16px #fff;
  overflow: hidden;
}
.img-section{
    float: left;width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: $rose;
    position: relative;
}
.img-section h4{
  color:#fff;
}
#PicUpload{
    color: #ffffff;
    width: 180px;
    background: rgba(255,255,255,0.4);
    padding: 100px;
    position: absolute;
    left: 30.5%;
    border-radius: 50%;
    display: none;
    top:15px;
}
.camera{
    font-size: 50px;
    color: #333;
}
.custom-btn{
    margin-top: 15px;
    border-radius: 0px;
    padding: 10px 60px;
    margin-bottom: 15px;
}

.color{
    color:black;
    margin-bottom: 20px;
}

.blocParam, .custom-form {
  margin: 0;
  padding: 0;
}

/********************************** FILTRE *****************************************/
.separation {
  border: 2px solid $rose;
  width: 100%;
  display:flex;
}

.ctrlParental {
  margin-left: 100px;
  margin-top: 50px;
}
