$rose: #bc1272;
$gray: gray;
$font-color: black;
$navbar_height: 95px;
$space: 5%;
$breakpoints: (
  medium: 900px,
  large: 1600px
);
$button_size: 70px;
$button_margin: 10px;
$contact_padding: 16px;
$contact_marging: 5px;
