$rose: #bc1272;
$gray: gray;
$blanc: white;
$font-color: black;
$navbar_height: 75px;
$space: 5%;
$breakpoints: (
  medium: 900px,
  large: 1600px
);
$button_size: 70px;
$button_size_little: 55px;
$button_margin_left: 10px;
$button_margin_top: 5px;
$contact_padding: 16px;
$contact_margin: 10px;
$opacity: 0.65;
$new-conversation_height: 75px;
$icon-size: 32px;
$formDim: 320px;
$padding_top: 20px;
$input-group-addon_width: 50px;
$margin: 20px;
$padding: 20px;
$mini_padding: 4px;
$margin10: 10px;
$margin20: 20px;
$conversation_min_width: 280px;
